* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    background-color: coral;
    overflow: auto;
}
.todolist {
    padding: 0.5rem;
    border: 2px solid black;
    margin-bottom: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: bisque;
    
}
i {
    cursor: pointer;
    font-size: larger;
}
.btn {
    color: black;
    font-weight: bold;
}
/*.liste {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10px;
    text-align: center;
    border: 1px solid red;
    background-color: yellowgreen;
} */